<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        
        <rule name="Rewrite /spx/dashboard to main.html" stopProcessing="true">
        <match url="^spx/dashboard$" />
        <action type="Rewrite" url="main.html" />
        </rule>

        <rule name="Rewrite /spx to index.html" stopProcessing="true">
        <match url="^spx$" />
        <action type="Rewrite" url="index.html" />
        </rule>

        <rule name="ReSET" stopProcessing="true">
        <match url="^spx/clear$" />
        <action type="Rewrite" url="reset.html" />
        </rule>

        <rule name="coord" stopProcessing="true">
        <match url="^spx/coord$" />
        <action type="Rewrite" url="coordinator.html" />
        </rule>

        <rule name="headcoord" stopProcessing="true">
        <match url="^spx/headcoord$" />
        <action type="Rewrite" url="headcoordinator.html" />
        </rule>

        <rule name="opmgr" stopProcessing="true">
        <match url="^spx/operations$" />
        <action type="Rewrite" url="opmgr.html" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
